* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#controls {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 8px;
  z-index: 5;
  background: white;
}

#controls button,
.btn {
  background: rgba(0, 123, 255, 0.25);
  color: rgba(0, 123, 255);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.15s;
}

#controls button:hover,
.btn:hover {
  background: rgba(0, 123, 255, 0.35);
}

#controls button:active,
.btn:active {
  background: rgba(0, 123, 255, 0.45);
}

#probabilities {
  position: absolute;
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 325px;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
  border-radius: 4px;
  z-index: 5;
  background: white;
}

#probabilities button {
  border: 1px solid #ccc;
  padding: 2px 6px;
  border-radius: 4px;
  transition: 0.15s;
  cursor: pointer;
  background: white;
  user-select: none;
}

#probabilities button:hover {
  background: rgba(18, 175, 71, 0.2);
  border-color: #adadad;
}

#probabilities button:active {
  background: rgba(18, 175, 71, 0.4);
}

#copy-input {
  display: none;
}

.toggled {
  display: flex !important;
}

#input,
#export {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 8px;
  background: white;
  padding: 80px;
  border-radius: 8px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

#input {
  align-items: flex-end;
}

#export {
  align-items: center;
}

#export span {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 2px 6px;
}

#input textarea {
  min-width: 250px;
  padding: 4px;
  outline: none;
}
